name: CI | Python Linting

on:
  push:
    branches:
      - "**"
      - "master"
      - "!master-ci"
      - "!release"

  pull_request:
    branches:
      - master

  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.10.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.8

      - name: Install Dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install pylint
          pip3 install pylint-exit
          if [ -f requirements.txt ]; then pip3 install -r requirements.txt; fi

      - name: Lint Project Level
        run: |
          find . -type f -name '*.py' | xargs pylint --extension-pkg-whitelist=cv2,GPIO --disable=E1101
